<ng-container *ngFor="let room of rooms">
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Rooms: {{room.count}} <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <ng-container *ngFor="let key of keysArray">

        <li role="menuitem"><span class="dropdown-item" style="color: #000;">{{rooms[0].rooms[key].name}}
          <button id="join" (click)="join(rooms[0].rooms[key].id)" class='joinRoomBtn btn btn-success btn-xs' >Join</button>
          <button id="remove" (click)="remove(rooms[0].rooms[key].id)" class='removeRoomBtn btn btn-danger btn-xs'>Remove</button>
          <button id="leave" (click)="leave(rooms[0].rooms[key].id)" class='leaveRoomBtn btn btn-warning btn-xs'>Leave</button></span></li>
      </ng-container>
    </ul>

  </div>
</ng-container>
