<!--<div *ngIf="name != ''">
<input [(ngModel)]="name"  /><button (click)="sendName()">Enter</button>
</div>-->
<div class="container-fluid">
<div *ngIf="submitted == false">
  <div class="main col-md-12 col-md-offset-5">
    <div class="alert alert-danger" id="errors"></div>
    <div id="login-screen">
      <h1 class="lead">CodeAddict.me</h1>
      <h3 class="lead">Realtime code editing. Chat. Video calls.</h3>
      <form class="form-inline" id="nameForm">
        <div class="form-group">
          <input pattern=".{3,}" minlength="3" required type="text" [(ngModel)]="name" class="form-control input-lg" placeholder="Your name" name="name"  />
        </div>

        <button type="button"  (click)="sendName()" name="join" class="btn btn-primary btn-lg" [disabled]="name.length < 3">Enter</button>

      </form>
    </div>
  </div>
</div>
</div>
<div *ngIf="submitted == true">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-room-list id="room-list"></app-room-list>
        <app-people-list id="people-list"></app-people-list>
        <app-room id="room"></app-room>
        <chat-component id="chat"></chat-component>
      </div>
      <div class="col-md-5">
        <app-editor id="editor"></app-editor>
      </div>
      <div class="col-md-4">
        <app-video id="video"></app-video>
    </div>

  </div>
</div>
</div>
