<ng-container *ngFor="let person of people">
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    People: {{person.count}} <span class="caret"></span>
  </button>

  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <ng-container *ngFor="let key of keysArray">
    <li role="menuitem" class="dropdown-item"> <i [ngClass]="['fa', 'fa-' + people[0].people[key].device]"></i> {{people[0].people[key].name}} <a href="#" (click)="whisper(people[0].people[key].name)"> <i [ngClass]="['fa', 'fa-comment']"></i></a><a href="#" (click)="call(people[0].people[key].peerId, people[0].people[key].name)"> <i [ngClass]="['fa', 'fa-phone']"></i></a>
    </li>
    </ng-container>
  </ul>

</div>
</ng-container>

